{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
         .btn-primary {
            background-color: var(--lightblue);
            color: white;
            border-color: var(--lightblue); 
        }

        .btn-primary:hover {
            background-color: var(--blue); 
            border-color: var(--blue); 
        }

         .btn-outline-primary {
            color: var(--lightblue);
            border-color: var(--lightblue); 
        }

        .btn-outline-primary:hover {
            background-color: var(--blue); 
            border-color: var(--blue); 
        }

        .form-check-input{
            background-color: var(--lightblue);
            color: white;
            border-color: var(--lightblue); 
        }

    </style>
{% endblock %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h2 mb-3 font-weight-normal text-center">Login</h1>

    <!-- Email input -->
  <div class="form-outline mb-4">
      <label class="form-label" for="inputEmail">Email address</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email" />
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
      <label class="form-label" for="inputPassword">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" />
  </div>


  <!-- Submit button -->

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
  <button type="submit" class="btn btn-primary btn-block w-100">Sign in</button>

  <!-- Register buttons -->
  {# <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>
  </div> #}
</form>
{% endblock %}
